html{
  height: 100%;
}

body{
  height: 100%; 
  text-align: center; 
  background-color: lavender; 
}

ol{
  margin-top: 0; 
  padding: 0; 
}

header{
  overflow: hidden; 
}
#top-header{
  text-align: center;
  height: 60%;
}
#logo{
  float: left;
  padding: none;
  margin: none; 
  height: 70px;
  width: 30%;
}
#logo img{
  width: 70px; 
  float: left;
  padding: 10px 0px; 
}

#menu{
  float: right;
  width: 70%
  height: 100%; 
  margin: none;
}

#menu ul{
  text-align: center;
  float: right;
  margin: none;
  background-color: orange;
}

#menu li{
  display: inline-block;
  padding: none;
  margin: none;
}

#menu li a {
  display: inline-block; 
  padding: 0em 1.5em;
  text-decoration: none;
  font-weight: bold; 
  line-height: 60px;
  text-transform: uppercase; 
  color: black;
}

#menu li:hover{
  background: blue;
  color: white;
}

#header-image{
  top: 10px;
  position: relative;
}

#header-image img{
  width: 100%;
  height: auto; 
  margin: none;
  padding: none;
}

#image-text{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-family: 'Ariel';
  color: white;
  text-align: center; 
}
