body{
  background-color: #5D3FD3; 
  text-align: center; 
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E6E6FA; 
}

.active {
  background-color: #CF9FFF;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.homeHead {
  position: absolute;
  top: 8px;
  right: 16px;
}
